@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300;400;600&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    /* Primary */
    --Soft-blue: hsl(215, 51%, 70%);
    --Cyan: hsl(178, 100%, 50%);

    /* Neutral */
    --dark-blue : hsl(217, 54%, 11%);
    /* (main BG) */
    --light-blue : hsl(216, 50%, 16%);
    /* (card BG) */
    --Very-light-blue : hsl(215, 32%, 27%);
    /* (line) */
    --White: hsl(0, 0%, 100%);
}

body {
    font-family: 'Outfit', sans-serif;
    background-color: var(--dark-blue);
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

.container {
    width: 270px;
    background-color: var(--light-blue);
    padding: 17px;
    border-radius: 10px;
    box-shadow: 0px 10px 32px var(--dark-blue  );
    margin-bottom: 30px;
}

.image-container {
    position: relative;
    border-radius: 5px;
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.overlay{
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .3s ease;
  background-color: hsla(178, 100%, 50%, 0.534);
}
.overlay img{
    width: 35px;
    height: auto;
}
.image-container:hover .overlay{
    opacity: 1;
    cursor: pointer;
}
img {
    width: 100%;
    height: auto;
    display: block;
}

.bottom-container h1{
    font-size: 16px;
    color: var(--White);
    font-weight: 600;
    margin: 15px 0;
  transition: .3s ease;
  cursor: pointer;
}
.bottom-container .main-para{
    color: var(--Soft-blue);
    font-size: 13px;
    font-weight: 400;
    margin-bottom: 18px;
}

.content-info{
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 16px;
}

.eth-price,
.time-left{
    display: flex;
    align-items: center;
    gap: 6px;
}
.eth-price{
    font-size: 13px;
    font-weight: 500;
    color: var(--Cyan);
}
.eth-price img{
    width: 7px;
    height: auto;
}
.time-left{
    font-size: 13px;
    color: var(--Soft-blue);
}
.time-left img{
    width: 12px;
    height: auto;
}


#line{
    background-color: var(--Very-light-blue);
    width: 100%;
    height: 1px;
    margin-bottom: 12px;
}

.content-footer{
    display: flex;
    align-items: center;
    font-size: 13px;
    gap: 13px;
    color: var(--Soft-blue);
    margin-bottom: 5px;
}
.content-footer p span{
    color: var(--White);
    transition: .3s ease;
    cursor: pointer;

}
.content-footer img{
    width: 25px;
    border: 1px solid var(--White);
    border-radius: 50%;
}

.content-footer p span:hover,
.content-footer p span:focus,
.bottom-container h1:hover,
.bottom-container h1:focus {
    color: var(--Cyan);
}


.attribution {
    background-color: var(--light-blue);
    color: var(--White);
    padding: 8px 20px;
    font-size: 11px;
    text-align: center;
    position: absolute;
    bottom: 0px;
}

.attribution a {
    color: var(--Cyan);
}